.NotFlex{
    display: unset !important;
}

.NoPadding{
    padding: 0 !important;
}

.NoMargin{
    margin: 0 !important;
}

.CONTENTS {
    height: calc(100vh - 150px);
    padding: 20px 8px 0 8px;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 120px;
}
.CONTENTSP {
    height: calc(100vh - 54px);
    padding: 20px 8px 0 8px;
    overflow-y: auto;
    box-sizing: border-box;
}

@media (max-width: 619px) {
    .CONTENTS {
        height: calc(100vh - 123px);
        padding-bottom: 120px;
    }
    .CONTENTSP {
        height: calc(100vh - 78px);
    }
}

@media (max-width: 392px) {
    .CONTENTS {
        height: calc(100vh - 114px);
        padding-bottom: 120px;
    }
    .CONTENTSP {
        height: calc(100vh - 74px);
    }
}